.board
{
    margin: 0 auto;
    background-image: url("images/board.jpg");
    background-repeat: no-repeat;
    background-position: center-top;
    width: 768px;
    height: 768px;
    background-size: contain;
    position: relative;
}

.blackStone
{
    background-image: url("images/black.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.whiteStone 
{
    background-image: url("images/white.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

